<mat-sidenav-container>
  <mat-sidenav  mode = "side" opened>
  <button class = "btn btn-danger btn-round pull-right"><i class = "fa fa-close"></i></button>
	<ul class = "side-nav">
		<li class = "side-nav-item"><i class = ""></i><a href ="/about">About me</a></li>
		<li class = "side-nav-item"><i class = ""></i><a href ="/about">Projects</a></li>
		<li class = "side-nav-item"><i class = ""></i><a href ="/about">Education</a></li>
		<li class = "side-nav-item"><i class = ""></i><a href ="/about">Work Experiance</a></li>
		<li class = "side-nav-item"><i class = ""></i><a href ="/about">Others</a></li>
	</ul>
	<span class = "version">v-1.0.0</span>
  </mat-sidenav>
  <mat-sidenav-content>
	<section class = "hero">
		<div style = "border-left:10px solid black;border-radius:10%; padding:10px;background-color:white;">
		<img  class = "img" src = "../../assets/img/team-3.jpg" />
		<div>
			<a class ="socials" href=""><i class ="fa fa-phone"> +27 60 8585 764</i></a>
			<a class ="socials" href=""><i class ="fa fa-github"> http://www.github.com/Justinldub</i></a>
			<a class ="socials" href=""><i class ="fa fa-envelope"> justinldube31&#64;gmail.com</i></a>
			<a class ="socials" href=""><i class ="fa fa-linkedin"> http://in.linkedin.com/justin-dube</i></a>
		</div>
		</div>
		
		<h1 style="border-right:2px solid black;border-radius:10%;background-color:cream;" class = "hero-text">Greetings, and please welcome to my web developent potfolio</h1>
	</section>
	<section class = "hero mb-4">
		<div class = "current-activities">
		<h1 class = "">Current Occupation and Studies</h1>
			<table class = "table  table-stripped">
				<tbody>
					<tr>
						<td>2017 - Present</td>
						<td>Roman's Pizza Harties</td>
						<td>Assistant Manager</td>
					</tr>
					<tr>
						<td>2023 - Present</td>
						<td>ALX Africa</td>
						<td>Full Stack Software Engineering</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class ="current-activities">
		<h1 class = "">Hobbies and Community</h1>
		<table class = "table table-light table-hover" style = "border-right : 5px solid red;border-left : 5px solid red;">
			<tbody>
				<tr>
					<td>Chess Player - justinldube</td>
					<td><a href="">http://www.chess.com/justinldube</a></td>
					<td>World - <span class = "badge badge-round badge-dark">850</span> | Country - <span class = "badge badge-round badge-dark">2600</span></td>
				</tr>
				<tr>
					<td>Treasury</td>
					<td>2022 - Present</td>
					<td class = "">Wash Towers club</td>
				</tr>
			</tbody>
		</table>
		</div>
	</section>
	<section class = "brief">
	<h1 class = "hero-text">A brief</h1>
	<p class = "brief-text">
	My name is Justin Dube, am currently working for Roman's Pizza in Hartbeespoort. 
	So while am not mixing tasty dough that is sauced with juicy flavours, stacked with mouth watering toppings and very 
	rare herbs that are health rewarding. I spend most of my time learning how to build software applications with a focus 
	on the Enterprise Software World.<br><br>
	My primary focus in the Enterprise software development space, 
	is to excel within the web/apps development domain. So I have been learning how to put down a multi tiered system that 
	is typical of Enterprise space,  consiting of the Presentation Layer, The Business and The Data Layer. 
	So  I have been closely looking deeper and deeper into this kind of systems, trying to have a distinctive idea on how 
	they are approached.<br><br>
	Then after carefully going through the ins, and outs I have decided to pick 2 from some of the best technologies used within this domain.<br> 
	<span class = "badge badge-dark">1) Java - </span> used as a server-side, I've managed to take the power of the spring-boot framework and leverage its functionalities to build powerful backend API's and expose them to the web. <br>
	<span class ="badge badge-dark">Angular - </span> used to build UIs in the front-end, I have leared to leverage its power to build powerful single page applications that has a look and feel, User Experience and conform's to the mordern day requirements. 
	</p>
	</section>
	<section class = "skills">
	<h1 class = "mt-4 hero-text">My Journy in the programming world</h1>
		<table class = "table table-light table-stripped table-hover">
			<tbody>
				<tr>
					<th class = "skill-title">JavaSE  JavaEE</th>
					<td class = "skill-disc">
					Beginning with JavaSE, ive learned the core concepts that goes with Java such as systex, 
					control flow,
					decision making, Multithreading, Network programming and Database driven applications. 
					With the core concepts put to place I have then moved forward 
					to learn general programming concepts. Because Java is a pure Object Oriented Language, 
					Object Oriented concepts where the first things to be picked.<br><br>
					So I learned things such as "separation of concern" devide and conquire, 
					Polymorphism, Encapsulation, Delegation and so on. With these set in place, 
					I then decided to move on and learn how to build GUI's begining with Swing. 
					But because of its nature to lack modern suppor for look and feel I decided to switch to JavaFx
					building exciting desktop user interfaces.<br><br>
					As a curious person, reading lots of books, I've also learned about JavaEE along my journey. 
					With an introduction to servlets, I've learnt how to expose Java applications
					to the web and use JSP, JSF to build dynamic web applications. Futhermore, 
					I have then proceeded to learn spring-boot framework in order to
					stay up to date with time. Here I make use of the facilities that are shipped with the framework, 
					to build
					backend API's that are ready to be deployed on the fly!</td>
					
				</tr>
				<tr>
					<th class = "skill-title">SQL  MySQL</th>
					<td class = "skill-disc">While learning how to build Database driven applications in Java, Ive also learnt about the JDBC(Java Database Connector) library, 
					which is used to connect to Relational databases be it MySQL/Postgre etc. 
					But it also has support for writting SQL script to query the database and initiate the CRUDE(Create, Read, Update, Delete) 
					based operation. Then through being lazy,<br><br> I then also learnt about MySQL workbench, and Interface you can use to 
					create Database schema's, create and execute DDL script and create ER Diagrams by using a Graphical User Interface
					rather than having to write SQL scripts manually.</td>
				</tr>
			</tbody>
		</table>
	</section>
  </mat-sidenav-content>
</mat-sidenav-container>